// ==========Section Code Start===========
section {
    padding: 55px 0px;
    .search {
        .search {
            width: 100%;
            position: relative;
            display: flex;
          }
          
          .searchTerm {
            width: 655px;
            height: 65px;
            background: $white;
            border: 1px solid $bordercolor;
            border-right: 0px;
            border-radius: 16px 0px 0px 16px;
            padding: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: $black;
          }
          .searchTerm:focus-visible {
            outline: -webkit-focus-ring-color auto 0px;
        }
          
        
          .searchButton {
            height: auto;
            border: 1px solid $bordercolor;
            border-left: 0px;
            text-align: center;
            color: $black;
            padding-right: 25px;
            background: $white;
            border-radius: 0 16px 16px 0;
            cursor: pointer;
            font-size: 20px;
          }
          .wrap{
            width: 50%;
            margin: 0px auto 30px;
          }
    }
    .dashboard_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h3 {
            margin: 0px;
            font-weight: 600;
            font-size: 30px;
            color: $black;
        }
        .create_test {
            button.test {
                background: $buttonbg;
                border: none;
                color: $white;
                border-radius: 50px;
                font-weight: 500;
                font-size: 14px;
                padding: 7px 25px;
            }
        }
    }
    .recent_test {
        .recent_test_heading.filters {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $black;
        }
        .recent_test_heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background: $navbg;
            p {
                margin: 0px;
            }
        }

        .recent_test_body.Activity_Feed {
            padding: 25px 20px 35px;
            .feed_box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $bordercolor;
                padding: 15px 0px;
                .condidate_box {
                    margin: 0px;
                }
                .time {
                    p{
                        margin: 0px;
                        font-weight: 400;
                        font-size: 16px;
                        color: $headermenu;
                    }
                }
            }
        }
        .recent_test_body.ques_bank {
            padding: 22px 20px;
            .recent_test_card {
                .ques_bank_box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .question_left {
                        .top {
                            margin-bottom: 15px;
                        }
                    }
                    .question_right {
                        ul{
                            li{
                                margin: 0px 0px 0px 20px;
                                a{
                                    img{
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .recent_test_body.filters_box {
            padding: 20px;
           
            .question_filter {
                background: #FFFFFF;
                box-shadow: 0px 0px 6px #dbdbdb;
                border-radius: 8px;
                padding: 15px 15px;
                margin-bottom: 20px;
                a{
                    text-decoration: none;
                    .ques_type {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                            p {
                                margin: 0px;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                                color: black;
                        }
                    }
                }
            }
        }
        .recent_test_body.problem_type {
            ul {
                padding: 0px;
                margin: 0px;
                list-style-type: none;
                li {
                    display: inline-block;
                    margin: 6px 7px;
                    a {
                        color: black;
                        text-decoration: none;
                        background: #E8E8E8;
                        border-radius: 20px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        padding: 6px 10px;
                    }
                }
            }
        }
        .recent_test_body.difficulty_box {
            .diff_range {
                margin-bottom: 45px;
            }
            .text_sec {
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 99999;
                p{
                    margin: 0px;
                    font-weight: 500;
                    font-size: 12px;
                    color: $black;
                }
            }
            .container {
                height: 15px;
                padding: 0px;
                margin: 0 auto 8px auto;
                background: #F3F3F3;
                border-radius: 25px;
            }
            .dragger {
                width: 26px;
                height: 26px;
                top: -8px !important;
                color: #FFF;
                font-weight: 600;
                line-height: 70px;
                background-color: #4782bc;
                border-radius: 25px;
            }
            .progress {
                width: 0px;
                background-color: #4c6986;
                height: 15px !important;
                border-radius: 25px;
            }
        }
        .recent_test_body {
            border: 1px solid $bordercolor;
            padding: 35px 20px;
            .filter_checkbox {
                margin-bottom: 28px;
            }
            .filter_checkbox {
                
.form-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }
  
  .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    padding: 10px;
    width: 28px;
    height: 28px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 12px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 11px;
    width: 6px;
    height: 14px;
    border: solid $buttonbg;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
            }
            .invite_candidates_btn {
                text-align: center;
                button.condidate {
                    background: $buttonbg;
                    border-radius: 10px;
                    border: none;
                    color: $white;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 14px;
                    width: 100%;
                    img{
                        margin-right: 5px;
                        width: 20px;
                    }
                }
            }
            .condidate_box {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 31.1px;
                .condidate_name {
                    h4 {
                        margin: 0px;
                        font-weight: 500;
                        font-size: 16px;
                        color: $black;
                    }
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        margin: 0px;
                        color: $black;
                    }
                }
                .condidate_icon.ac {
                    background: $condidateboxbg2;
                }
                .condidate_icon.ac1 {
                    background: $condidateboxbg1;
                }
                .condidate_icon.ac2 {
                    background: $boxfirst1;
                }
                .condidate_icon.ac3 {
                    background: $boxfirst4;
                }
                .condidate_icon.ac4 {
                    background:$boxfirst41;
                }
                .condidate_icon {
                    width: 55px;
                    height: 55px;
                    line-height: 55px;
                    background: $boxfirst2;
                    text-align: center;
                    margin-right: 20px;
                    color: $white;
                    border-radius: 50%;
                    p {
                        margin: 0px;
                        font-weight: 600;
                        font-size: 20px;
                    }
                }
            }
            .recent_test_card {
                padding-bottom: 15px;
                border-bottom: 1px solid $bordercolor;
                margin-bottom: 20px;
                .top {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    h3 {
                        margin: 0px 35px 0px 0px;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        color: $black;
                    }
                    button.open.close {
                        background: #FF8F88;
                    }
                    button.open {
                        background: $openbtn;
                        border-radius: 40px;
                        border: none;
                        color: $white;
                        padding: 2px 28px;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                ul {
                    padding: 0px;
                    margin: 0px;
                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-right: 12px;
                        font-weight: 400;
                        font-size: 14px;
                        color: $headermenu;
                        img {
                            width: 18px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }


    }
}

// ==========Section Code End===========